@media(max-width: 768px){
#logoPc{
    display: none ;
}
body {
    font-size: 15pt;
    background: url("assets/background1.jpg");
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
img{
    width: 100%;
}
.normalDiv{
    background: #a6a6a6;
    width: 100%;
    height: 40vh;
    text-align: center;
    position: relative;
}
#heading{
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
    width: 100%;
    height: 60vh;
    background: #454444;
}


#aboutMe{
clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 83%,
    50% 100%,
    0% 83%);
height: 100vh;
margin-top: -1vh;
}

#slogan{
    clip-path: polygon(
    0% 19%,
    14% 0%,
    28% 15%,
    40% 0%,
    56% 15%,
    80% 0%,
    100% 15%,
    100% 100%,
    0% 100%);
height: 35vh;
margin-top: 20vh;
}

#nextStop {
    clip-path: polygon(27% 20%, 42% 4%, 57% 17%, 77% 0, 100% 16%, 100% 100%,0% 100%, 0 21%, 14% 5%);
    height: 50vh;
    margin-top: 20vh;
    margin-bottom: -1px;
}

#projects{
    height: 100vh;
    margin-top: -1px;
    clip-path: polygon(0 0, 100% 0, 100% 11%, 80% 31%, 80% 75%, 100% 100%, 0 100%, 20% 76%, 21% 32%, 0 13%);
}
#skills{
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
    width: 100%;
    height: 70vh;
    margin-top: -1px;
}
#contactMe{
    clip-path: polygon(42% 42%, 56% 56%, 77% 34%, 100% 56%, 100% 100%, 0 100%, 0 57%, 13% 42%, 27% 56%);
    margin-top: 5vh;
    width: 100%;
    height: 50vh;
    margin-bottom: -2vh;
}
h1{
    margin: 0;
    position: relative;
    top: 40%;
    font-size: 27px;
    z-index: 2;
}
h2{
    position: relative;
    top: 45%;
    font-size: 20px;
}
#sloganTxt{
    position: relative;
    margin: 0px;
    top: 20%;
}
#aboutMeTxt{
    position: relative;
    top: 20%;
}
p{
    position: relative;
    top: 25%;
    margin: 0 10%;
    z-index: 2;
}
#ProjectsH1{
    top: 15%;
}
#skillsH1{
    top: 15%;
}
#contactMe h1{
    top: 60%;
}
#contactMe p{
    top: 61%;
}
svg{
  width: 100%;
  height: 100%;
}
.mGears{
    position: absolute;
    margin: -130px;
    overflow-x: hidden;
    animation: spin 2s linear infinite;
    width: 10vh;
    text-align: center;
    color: #a6a6a6;
}
.mGears svg{
    fill: #a6a6a6 !important;
  stroke: #a6a6a6 !important;
}
.gears{
    background-color: none;
    position: absolute;
    margin: -100px;
    overflow-x: hidden;
    width: 10vh;
    transform: rotate(32deg);
    text-align: center;
    color: #454444;
}
@keyframes spin{
    to{
    transform: rotate(360deg);
    }
}
#gear1{
    top: 65vh;
    left: 76vw;
    width: 14vh;
}
#gear2{
    top:56vh;
    left: 85vw;
    width: 20vh;
}
#gear3{
    top: 50vh;
    left: 20vw;
    width: 20vh;
}
#gear4{
    width: 25vh;
    top: 95vh;
    left: 15vw;
}
#gear5{
    width: 14vh;
    top: 100vh;
    left: 55vw;
}
#gear6{
    width: 20vh;
    top: 95vh;
    left: 80vw;
}
#gear7{
    width: 20vh;
    top: 95vh;
    left: 110vw;
}
#gear8{
    width: 20vh;
    top: 212vh;
    left: 110vw;
}
#gear9{
    width: 23vh;
    top: 250vh;
    left: 20vw;
}
#gear10{
    width: 20vh;
    top: 250vh;
    left: 110vw;
}
#gear11{
    width: 20vh;
    top: 250vh;
    left: 85vw;
}
#gear12{
    width: 20vh;
    top: 340vh;
    left: 39vw;
}
#gear13{
    width: 15vh;
    top: 348vh;
    left: 45vw;
}
#gear14{
    width: 20vh;
    top: 360vh;
    left: 100vw;
}
#gear15{
    width: 15vh;
    top: 370vh;
    left: 100vw;
}
#gear16{
    width: 20vh;
    top: 448vh;
    left: 110vw;
}
#gear17{
    width: 23vh;
    top: 493vh;
    left: 20vw;
}
#gear18{
    width: 20vh;
    top: 493vh;
    left: 110vw;
}
#gear19{
    width: 20vh;
    top: 493vh;
    left: 85vw;
}
.clouds{
    position: absolute;
    z-index: 1;
    width: 40vw;
}
#cloud1{
    top: 150vh;
    left: -20vw;
}
#cloud2{
    top: 155vh;
    left: 80vw;
}
#cloud3{
    top: 190vh;
    left: -18vw;
    width: 50vw;
}
#cloud4{
    top: 260vh;
    left: -30vw;
    width: 75vw;
}

#container{
    top: 0px;
    left: 0px;
    width:100vw;
    height:100vh;
    position: relative;
    overflow-x: hidden;
}
.neon{
 color: white;
 font-size: 32px;
 text-shadow:
    0 0 5px #00df24,
    0 0 10px #00df24,
    0 0 20px #00df24,
    0 0 40px #00df24;
}
#project{
    width: 50%;
    border-radius: 10%;
    position: absolute;
    top: 35%;
    left: 25%;
    box-shadow: 
    0 0 5px #00df24,
    0 0 10px #00df24,
    0 0 20px #00df24,
    0 0 40px #00df24;
}
img{
    position: absolute;
    width: 79%;
    left: 19%;
}
ul{
    position: absolute;
    top: 20%;
    width: 80%;
    text-align: left;
    left: 10%;
}
}


@media(min-width: 768px){
    div{
        border-radius: 1%;
    }
    #container{
      background: url("assets/background1.jpg");
    height: 300vh;
    font-size: 18pt;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr)
        1fr
        repeat(8, 1fr)
        ;
  }
  div{}
  .normalDiv{
    background: #a6a6a6;
}
  
  #intro{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: #454444;
  }
  #intro >*{
      background-color: #454444;
  }
  #logoPc{
      width: 40%;
      margin: 6px;
  }
  
  #aboutMe{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 5;
      text-align: center;
  }
  #aboutMe h1{
      margin-top: 1%;
      margin-bottom: 0%;
  }
  #aMParagraph{
      margin-top: 0%;
  }
  #nextStop{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align:center;
  }
  #projects{
    grid-column-start: 1;
    grid-column-end: 3 ;
    grid-row-start: 7;
    grid-row-end: 11;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }


  ul {
    font-size: 18px;
    width: 60%;
  }

  img {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
  }
  #project1C{
    grid-column-start: 2;
    
  }
  #skills{
      grid-row-start: 12;
  }
  #contactMe{
      grid-row-start: 12;
  }
  
  .gears{display: none;}
  .mGears{display: none;}
  .clouds{display: none;}
  #logo{display: none;}
  
  
  .neon{
 color: white;
 font-size: 32px;
 text-shadow:
    0 0 5px #00df24,
    0 0 10px #00df24,
    0 0 20px #00df24,
    0 0 40px #00df24;
}

}