body{
    background-color: #0a0a0a;
    background: url("background(mobile).png");
    background-repeat: no-repeat;      /* stops tiling */
    background-size: cover;            /* fills the screen nicely */
    background-position: center;       /* keeps it centered */
    background-attachment: fixed;
    margin: 1.5rem;
}

section{
    width: 100%;
}

h1, h2, h3, p, li{
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1{font-size: 40px;}
h2{font-size: 36px;}
p{font-size: 16px;}

.seperator{
    margin: 60px 0px 60px 10%;
    width: 80%;
    height: 2.5px;
    background-color: #00ff00;
}
.green{
    color:#00ff00
}

#logo{
    width: 40%;
}


button {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  height: 44px;
  border-radius: 8px;
  margin:16px 0px 0px 0px;
  border: none;
  background-color: #00ff00;
  color: black;
}

a{
    text-decoration: none;
    color: black;
}

#view-projects-btn {
  transition: all 0.3s ease;
  box-shadow: 0 0 0px rgba(0, 255, 0, 0);
}

#view-projects-btn:hover {
  transform: translateY(-3px); /* Lifts the button slightly */
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.6); /* Adds a neon glow */
  filter: brightness(1.2);
}

#imgContainer{
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    border: solid #00ff00;
    width: 30%;
    overflow: hidden;
     aspect-ratio: 1/1;

}

#imgContainer img{
    width: 80%;
}
.skill{
    height: 100px;
    width: 300px;
    background-color: rgba(20, 20, 20, 0.7);
    margin: 5px;
    text-align: center;
    border: solid #00ff00;
    border-radius: 20px;
    margin-bottom: 20px;
}
.skill img{
    height: 40%;
    margin-top: 10px;
}

#benefitContainer img{
    width: 20%;
}

#aboutMe br{display: none;}

.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}



.caseStudy{
    padding-left: 10px;
    width: 80%;
    height: 80%;
    position: fixed;
    left: 5%;
    top: 10%;
    background-color: #111;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 1);
    z-index: 1;
    display: none;
}

.caseStudy button{
    background: red;
    position: absolute;
    right: 2.5%;
    bottom: 2.5%;
    width: 10px;
    aspect-ratio: 1/1;
    border-radius: 3px;
}
.viewCaseStudy{
    background-color: rgba(20, 20, 20, 0.7);
    border:solid white;
    color: white;
    transition: all 0.3s ease;
}
.viewCaseStudy:hover{
    transform: translateY(-3px); /* Lifts the button slightly */
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.724); /* Adds a neon glow */
    filter: brightness(1.2);
}

#bgContainer, .projectDisplay img{display: none;}